*{
    box-sizing: border-box;
}


body{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 10vh;
}

header h1{
    color:blueviolet;
    font-size: 20px;
    font-weight: lighter;
    padding-left: 50px;
}

header p{
    font-weight: bolder;
    padding-right: 100px;
}

/* Flex layout */
.start,
.questions,
.results{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 50px;
    padding: 40px;

}

/* Start Section */
.btn-start,.start-text{
    margin-top: 100px;
}

.start-title, .results-title{
    font-size: 2.1rem;
    text-align: center;
}

.start-text, .results-text, label{
    font-size: 1.3rem;
    text-align: center;
    padding: 10px;
    line-height: 1.9rem;
}


/* Questions section */
.question-title{
    /* text-align: start; */
    font-size: 2.1rem;
}

.options{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btn-option{
    margin: 7px 0px;
    width: 220px;
    text-align: start;

}

/* Results Section */

.results, .questions{
    display: none;
}

.results{
    align-items: flex-start; 
    
}
.results-form{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;

    
}
.initials{
    height: 42px;
    width: 50%;
}
.results-title{
    margin-bottom: 0;
}
.results-text, label{
    padding: 0;
}



/* Utilities */
.btn-start, .btn-option ,.btn-submit{
    font-size: 1.5rem;
    font-weight: lighter;
    color:#fff;
    background-color: blueviolet;
    border: none;
    border-radius: 12px;
    padding: 7px 20px;
    
}

button:hover{
    background-color: pink;
    cursor: pointer;

}


