*{
    box-sizing: border-box;
}


body{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 10vh;
}

header h1{
    color:blueviolet;
    font-size: 20px;
    font-weight: lighter;
    padding-left: 50px;
}

header p{
    font-weight: bolder;
    padding-right: 100px;
}


